<h1>
  This is the Admin's Main Page - Will have a list of all leagues managed, create, and delete buttons. Time of when created.
</h1>
  <form action="/new">
    <button>Create League</button>
  </form>
  <div class="campaign-row row">
      <h3 class="text-center">You may be interested in...</h3>
      <% leagues.forEach((league) => { %>
        <div class="col-sm-3 home-campaign-box">
          <img src="<%= league.image %>">
          <div class="campaign-info-wrapper">
            <a class="title" href="/leagues/<%= league._id %>">
              <strong><%= league.leagueName %></strong>
            </a><br>
            by <span class="light-text"><%= league.leagueName %></span><br>
            <span class="light-text description"><%= league.description %></span>
          </div>
        </div>
      <%  }) %>
    </div>
    

