<div class="container campaign-container">
    <div class="row">

      <div class="col-sm-6 float-left">
        <h1><%= league.leagueName %> Standings</h1>
        <% league.teams.forEach((team)=>{ %>
         <li class="list-group-item" style="background-color:rgb(38, 38, 148);color:whitesmoke; text-align:center"><%= team.teamName%> <% %> :    
          Wins:    <%=team.wins%> 
          :   Losses: <%=team.losses%>
          <%})%>
  
        </li>
      </div>

        <div class="campaign-time" style="margin-top:60px;padding-left:50px">
 
        </div>
        <a class="btn backer-btn btn-warning" href="/leagues/<%=league._id%>/edit">Edit League Name</a>
        <form action="/leagues/<%= league._id %>/delete" method="POST">
          <button type="submit" class="btn backer-btn" style="background-color:red">Delete League</button>
        </form>
      </div>
    </div>
  </div>
    </div>
    <div class="row">
      <h2>Update Games</h2> 
      <button>
        <a href="/leagues/<%=league._id%>/updateResults">
        UPDATE GAMES
      </a>
    </button>
        <ul>
        
            <% league.schedule.forEach((game) => { %>
                  <% game.forEach(pair => { %> 
                  <li class="list-group-item list-group-item-info">
                    <% pair.forEach(teams => { %>
                    <%=teams.teamName%>                      
                    ------------
                    <% }) %>
                   
                    <form action=""" method="POST">
                    <input type="radio" id="contactChoice1"
                    name="contact" value="homeTeamWins">
                   <label for="contactChoice1"><%=pair[0].teamName%> Wins</label>
               
                   <input type="radio" id="contactChoice2"
                    name="contact" value="awayTeamWins">
                   <label for="contactChoice2"><%=pair[1].teamName%> Wins</label>
                   <input type="radio" id="contactChoice2"
                   name="contact" value="unplayed">
                  <label for="contactChoice2">Game Not Played</label>
                  <button class="btn btn-success" type="submit">Submit</button>
                  </form>
                    <% }) %>    
            <% }) %> </li> 
        </ul>
      <div class="col-sm-8">
      </div>
      <div class="col-sm-4 campaign-info">
        <div class="campaign-progress">
          <progress value="<%= league.leagueName %>" max="<%= league.leagueName %>"></progress>
        </div>

